# Data Types

In [2]:
# NUMERIC (INT, FLOAT)

1

1

In [3]:
2.05

2.05

In [4]:
0.00036

0.00036

In [5]:
1 + 1

2

In [6]:
2 * 2

4

In [7]:
5 / 2

2.5

In [8]:
5 - 2

3

In [9]:
5 % 2 #MODULO

1

In [10]:
2 ** 4

16

In [11]:
4 ** (1/2)

2.0

In [12]:
56 ** (1/12)

1.3985639696474133

In [13]:
# PEMDAS

2 + 3 * 3 * 4 - (3 / 2)

36.5

## Variables

In [16]:
my_variables = 1
y = 3

In [17]:
z = x + y

In [18]:
z

4

In [19]:
print(z)

4

## Strings

In [21]:
'hello'

'hello'

In [22]:
"heller"

'heller'

In [24]:
"It's a Girl!"

"It's a Girl!"

In [25]:
'It\'s a Boy!'

"It's a Boy!"

## Print Formating

In [26]:
num = 12
name = 'Juan'

In [28]:
print('My number is: {one}, and my is: {two}'.format(two=name,one=num))

My number is: 12, and my is: Juan

In [29]:
print('My number is: {}, and my is: {}'.format(num, name))

My number is: 12, and my is: Juan

# Lists

   - mutable

In [30]:
my_list = [1,2,3]

In [31]:
my_list

[1, 2, 3]

In [32]:
my_list

In [34]:
my_list

[1, 2, 3, 4]

In [35]:
# splicing, indexing

my_list[1]

2

In [36]:
my_list[0]

1

In [37]:
my_list[0:2]

[1, 2]

In [40]:
nested_list = [1,2,[3,4,5,['target']]]

In [41]:
nested_list

[1, 2, [3, 4, 5, ['target']]]

In [42]:
nested_list[2]

[3, 4, 5, ['target']]

In [43]:
nested_list[2][1]

4

In [44]:
nested_list

[1, 2, [3, 4, 5, ['target']]]

In [45]:
nested_list[2]

[3, 4, 5, ['target']]

In [47]:
nested_list[2][3]

['target']

In [48]:
nested_list[2][3][0]

'target'

## Dictionaries

    - key value pairings -> {}

In [49]:
d = {'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

In [50]:
d['key2']

'item2'

In [54]:
d2 = {'key1': [1,2,3], 'key2': 'item2'}

In [52]:
d2['key1']

[1, 2, 3]

In [53]:
d2['key1'][1]

2

## Boolean

In [55]:
True

True

In [56]:
False

False

In [57]:
2 > 3

False

In [58]:
3 >= 3

True

In [59]:
3 == 3

True

In [60]:
3 != 4

True

## Tuples

   - non-mutable -> ()

In [61]:
t = (1,2,3)

In [62]:
t

(1, 2, 3)

In [63]:
t[2]

3

In [64]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

## Sets

In [65]:
st = {1,2,3}

In [66]:
st

{1, 2, 3}

In [71]:
ast = {1,2,3,4,5,5,5,3,3,3,2,2,1}

In [74]:
ast

{1, 2, 3, 4, 5}

## IF Statement

In [76]:
if (1 < 2):
    
    print('Yes')

Yes

In [77]:
# two conditions

if (1 < 2):
    
    print('first')
    
else:
    
    print('last')

first

In [78]:
# multiple conditions

if (3 < 2):
    
    print('first')
    
elif (3 == 3):
    
    print('second')
     
else:
    
    print('last')

second

## Loop

In [79]:
seq = [1,2,3,4,5]

In [80]:
for item in seq:  #item is temporary variable
    
    print(item)

1
2
3
4
5

In [81]:
for item in seq:  #item is temporary variable
    
    print(item**item)

1
4
27
256
3125

In [83]:
i = 1

while i <= 5:
    
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

In [85]:
range(5)

range(0, 5)

In [86]:
range(1,5)

range(1, 5)

In [87]:
range(1,5,2)

range(1, 5, 2)

In [89]:
for i in range(0,6):
    
    print(i)

0
1
2
3
4
5

In [93]:
list_20 = list(range(0,20))

In [94]:
list_20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Next lectures -> list comprehension, functions, lambda expression, map and filter